<!DOCTYPE html>
<html ng-app = "kmi">
  <head>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Angu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script type="text/javascript" src="Angu.js"></script>
    <title>Hello</title>
  </head>
  <body>
    <div class="container" ng-controller="kmiControler as kmiList">
      
      <div class="smallC" id = "note">  <p> <b>Kūno masės indeksas (KMI)</b> – žmogaus masės ir ūgio kvadrato santykis, medicinoje ir mityboje naudojamas kaip rodiklis, leidžiantis įvertinti ar žmogaus masė yra normali.</p>
    </div>
    
    <div class="smallC">
      <form >
        <label > Svoris</label> <input  style="text-align:center" id="svoris" ng-model="kmiList.svoris" type="number" name="Svoris" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="kg" >
        
        <label style="padding-top:  10px"> Ugis</label> <input  style="text-align:center" ng-model="kmiList.ugis"  id="ugis" type="number" name="Svoris" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="cm">
      </form>
    </div>
    <div class="smallC" ><button style="width: 20%" type="button" class="btn btn-warning"  ng-click="kmiList.show()"> Ok</button></div>
    
    <div class="smallC" ><h3 style="padding-top: 25px;"  ng-model="kmiList.kmi" > {{kmiList.kmi}}</h3></dir>
      
      <div class="smallC"> <p ng-model="kmiList.info">{{kmiList.info}}  <p> <img  id = "img" ng-model="kmiList.link" ng-src="{{kmiList.img}}" width="20%" height="10%"></div>
    </div>
    
  </body>
</html>